@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.top-header {
    width: 90vw;
    margin: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav>div {
    display: flex;
}

nav>ul {
    display: flex;
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    padding-inline: 10px;
    font-size: 16px;
    color: #212244;
}
.col{
    display: flex;
    align-items: center;
  }
  #search-bar {
    border: 1px solid rgba(105, 105, 123, 0.1);
    border-radius: 10px;
  }
  
  #search-bar > input {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    border-right: 1px solid rgba(105, 105, 123, 0.1);
  }
  #cart {
    padding-inline: 20px;
  }
  
  .col> button {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #f94a3d;
    border-radius: 10px;
  }
